.corpLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 165px;
  margin-bottom: 155px;
}
.clipboardSection {
  padding: 0 30px;
  margin-bottom: 150px;
  p {
    width: 710px;
    margin: 0 auto 45px;
  }
}
