.corpLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto 155px;
  padding: 0 11.46vw; //165px;
}
.clipboardSection {
  padding: 0 30px;
  margin-bottom: 150px;
  p {
    width: 710px;
    margin: 0 auto 45px;
  }
}
