.footer {
  padding: 43px 11.46vw 23px; // 165px
  background-color: hsl(201, 11%, 96%);
  .footerBox {
    max-width: 1535px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    svg {
      height: 55px;
    }
    .links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 46.74vw; //673px;
      max-width: 950px;
      padding-right: 6.94vw; //100px;
      a {
        width: 33.33%;
        margin-bottom: 20px;
        text-align: left;
        color: hsl(210, 10%, 33%);
        transition: all 0.13s ease-in-out;
        &:hover {
          color: hsl(171, 66%, 44%);
        }
      }
    }
    .socialLinks {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 120px;
      a {
        svg {
          fill: #4c545c;
          transition: all 0.13s ease-in-out;

          &:hover {
            fill: hsl(171, 66%, 44%);
          }
        }
      }
    }
  }
}
