.hero {
  margin-top: 3px;
  margin-bottom: 150px;
  &__logo {
    display: block;
    margin: 0 auto 55px;
    padding-top: 130px;
  }
  h1 {
    margin-bottom: 15px;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: hsl(210, 10%, 33%);
  }
  p {
    max-width: 700px;
    margin: 0 auto 50px;
    font-size: 20px;
    line-height: 1.5;
    color: hsl(201, 11%, 66%);
  }
  .boxForButtons {
  }
}
