@import "globals";
@import "attribution";
@import "hero";
@import "keepTrack";
@import "accessCB&supercharge";
@import "corpLogos&clipboard";
@import "footer";

.background {
  background: url(/images/bg-header-desktop.png) no-repeat;
  // .hero,
  // .keepTrackSection,
  // .accessClipboardSection {
  //   display: none;
  // }

  .boxForButtons {
    display: flex;
    justify-content: space-between;
    width: 470px;
    margin: 0 auto;
    ///buttons///
    button {
      display: inline-block;
      width: 227px;
      height: 56px;
      padding-top: 3px;
      border: none;
      border-radius: 56px;
      outline: inherit;
      cursor: pointer;
      font-size: 18px;
      font-family: inherit;
      font-weight: 500;
      letter-spacing: 0.03em;
      text-align: center;
      text-decoration: none;
      color: white;
    }
    .ios {
      background-color: hsl(171, 66%, 44%);
      border-bottom: 3px solid hsl(171, 66%, 38%);
      box-shadow: 0 10px 20px hsl(171, 66%, 38%, 30%);
    }
    .mac {
      background-color: hsl(233, 100%, 69%);
      border-bottom: 3px solid hsl(233, 70%, 62%);
      box-shadow: 0 10px 20px hsl(233, 70%, 62%, 30%);
    }
  }
  h2 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    & + p {
      letter-spacing: 0.01em;
      line-height: 1.7;
      color: hsl(201, 11%, 66%);
    }
  }
}
@import "mediaQs";

// ### Primary

// - Strong Cyan: hsl(171, 66%, 44%)
// - Light Blue: hsl(233, 100%, 69%)

// ### Neutral

// - Dark Grayish Blue: hsl(210, 10%, 33%)
// - Grayish Blue: hsl(201, 11%, 66%)
