@media screen and (max-width: 950px) {
  .background {
    background: 0 0 / contain url(/images/bg-header-mobile.png) no-repeat;
    //elements for all sections///
    .boxForButtons {
      display: block;
      width: 100%;
      max-width: 660px;
      button {
        width: 100%;
        max-width: 365px;
        margin-bottom: 25px;
      }
    }
    h2 {
      margin: 0 auto 18px;
      font-size: 28px;
      letter-spacing: -0.01em;
      & + p {
        font-size: 16px;
        line-height: 1.6;
      }
    }
    ////////////////
    .hero {
      padding: 0 30px;
      margin-bottom: 140px;
      &__logo {
        padding-top: 120px;
        margin-bottom: 65px;
      }
      h1 {
        margin-bottom: 15px;
        font-size: 32px;
        letter-spacing: -0.01em;
      }
      p {
        max-width: 550px;
        padding: 0 3px;
        font-size: 16px;
        line-height: 1.6;
      }
    }
    /////////////
    .keepTrackSection {
      height: auto;
      margin-bottom: 200px;
      padding: 0 30px;
      h2 {
        & + p {
          width: 100%;
          max-width: 550px;
          margin-bottom: 64px;
        }
      }
      .imgAndSnippets {
        display: block;
        &__img {
          width: 100%;
          height: 63.46vw; //238px;
          margin-bottom: 56px;
          img {
            position: static;
            height: 100%;
          }
        }
        &__snippets {
          width: 100%;
          padding: 0;
          text-align: center;
          p {
            width: 100%;
            max-width: 550px;
            margin: 0 auto 50px;
            line-height: 1.6;
            // margin-bottom: 50px;
          }
        }
      }
    }
    /////////////////
    .accessClipboardSection {
      h2 {
        padding: 0 30px;
        & + p {
          width: auto;
          max-width: 550px;

          margin: 0 auto 60px;
          padding: 0 30px;
        }
      }
      img {
        height: 58.66vw; //220px;
        margin-bottom: 95px;
      }
    }
    .superchargeSection {
      padding: 0 30px;
      h2 {
        margin: 0 auto 12px;
        & + p {
          margin: 0 auto 75px;
        }
      }
      .tools {
        display: block;
        padding: 0;
        margin: 0 auto 135px;
        &__tool {
          width: 100%;
          max-width: 100%;
          h3 {
          }
          p {
            max-width: 550px;
            margin: 0 auto 40px;
            line-height: 1.6;
          }
        }
      }
    }
    ///////////
    .corpLogos {
      display: block;
      padding: 0;
      margin-bottom: 165px;
      .imgBox {
        margin-bottom: 63px;
        &:nth-child(1) {
          img {
            height: 40px;
          }
        }
        &:nth-child(2) {
          img {
            height: 42px;
          }
        }
        &:nth-child(3) {
          img {
            height: 29px;
          }
        }
        &:nth-child(4) {
          img {
            height: 46px;
          }
        }
        &:nth-child(5) {
          img {
            height: 25px;
          }
        }
      }
    }
    .clipboardSection {
      p {
        width: 100%;
        max-width: 550px;
      }
    }
    /////////
    .footer {
      padding: 0 30px 50px;
      .footerBox {
        display: block;
        svg {
          margin: 55px 0 40px;
        }
        .links {
          // display: block;
          flex-direction: column;
          width: 100%;
          padding: 0;
          a {
            display: block;
            width: auto;
            margin-bottom: 28px;
            text-align: center;
            &:nth-child(1) {
              order: 1;
            }
            &:nth-child(2) {
              order: 3;
            }
            &:nth-child(3) {
              order: 5;
            }
            &:nth-child(4) {
              order: 2;
            }
            &:nth-child(5) {
              order: 4;
            }
          }
        }
        .socialLinks {
          width: 155px;
          margin: 20px auto 0;
        }
      }
    }
  }
}
@media screen and (max-width: 1150px) and (min-width: 951px) {
  .superchargeSection {
    .tools {
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto 220px;
      &__tool {
        width: 350px;
      }
    }
  }
  .corpLogos {
    flex-wrap: wrap;
    justify-content: space-around;

    .imgBox {
      width: 225px;
      margin-bottom: 55px;
    }
  }
  .footer {
    .footerBox {
      .links {
        padding-right: 0;
      }
    }
  }
}
